# Neon → Dashboard → Connect → tak "dev"
# Connection pooling ON: Normal setting
DATABASE_URL="postgresql://USER:PASSWORD@ep-xxxx-pooler.REGION.aws.neon.tech/neondb?sslmode=require"
# Connection pool OFF: For migrations (by prisma)
DIRECT_URL="postgresql://USER:PASSWORD@ep-xxxx.REGION.aws.neon.tech/neondb?sslmode=require"