APP_ENV="local"
# Neon → Dashboard → Connect → tak "dev"
# Connection pooling ON: Normal setting
DATABASE_URL="postgresql://USER:PASSWORD@ep-xxxx-pooler.REGION.aws.neon.tech/neondb?sslmode=require"
# Connection pool OFF: For migrations (by prisma)
DIRECT_URL="postgresql://USER:PASSWORD@ep-xxxx.REGION.aws.neon.tech/neondb?sslmode=require"

# Generate with `openssl rand -base64 32`
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:5173"

EMAIL_FROM="Dorpsplein <geen-antwoord@pos.dorpsplein.co.za>"